.chat .users, .chat .chatbox{
 display:inline-block;
 vertical-align:top;
 height:350px;
 padding:0px 15px;
 position:relative;
}
.chat .users{
 background:#CCC;
 color:white;
 width:98px;
 overflow-y:auto;
}
.chat .chatbox{
 background:#fff;
 color:black;
 margin-left:4px;
 width:330px;
}
